body{
text-align:center;
font-family:Arial;
}

table{
border-collapse:collapse;
margin:auto;
margin-top:20px;
display:none;
}

td{
border:2px solid black;
width:50px;
height:50px;
text-align:center;
}

button{
padding:10px 20px;
font-size:16px;
cursor:pointer;
}