body{
    background-color: skyblue;
}
#p1{
    color:blue;
}
.para{
    background-color: violet;
}

h1+h1{
    color:pink;
}

h1~h1{
    background-color: palevioletred;
}

p ::first-letter{
    font-size: 30px;
    color: skyblue;
}

p::first-line{
    background-color: orchid;
}

p::after{
    content:"❤️";
}

ul li::marker{
    color: green;
    font-size: 40px;
}

p:hover {
  background: pink;
}

p:active{
    color:blue;
}

a:visited{
    background-color: aquamarine;
}