
body{
  margin:0;
  background:#0b5d3a;
  padding:20px;         
}


.container{
  background:white;
  padding:10px;
  border:2px solid #ddd;

  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 35px;  
  gap:10px;

  max-width:1000px;      
  margin:auto;           
}

.box{
  background:#8cc63f;
  color:white;
  font-size:14px;
  font-weight:bold;

  display:flex;
  justify-content:center;
  align-items:center;
}




.b1{grid-column:1/2; grid-row:1/26;}

.b2{grid-column:2/3; grid-row:1/19;}
.b3{grid-column:2/3; grid-row:19/26;}


.b4{grid-column:3/4; grid-row:1/13;}
.b5{grid-column:3/4; grid-row:13/23;}
.b6{grid-column:3/4; grid-row:23/26;}


.b7{grid-column:4/5; grid-row:1/11;}
.b8{grid-column:4/5; grid-row:11/19;}
.b9{grid-column:4/5; grid-row:19/24;}
.b10{grid-column:4/5; grid-row:24/26;}

.b11{grid-column:5/6; grid-row:1/8;}
.b12{grid-column:5/6; grid-row:8/14;}
.b13{grid-column:5/6; grid-row:14/20;}
.b14{grid-column:5/6; grid-row:20/23;}
.b15{grid-column:5/6; grid-row:23/25;}
.b16{grid-column:5/6; grid-row:25/26;}


.b17{grid-column:6/7; grid-row:1/3;}
.b18{grid-column:6/7; grid-row:3/5;}
.b19{grid-column:6/7; grid-row:5/7;}
.b20{grid-column:6/7; grid-row:7/9;}
.b21{grid-column:6/7; grid-row:9/11;}
.b22{grid-column:6/7; grid-row:11/13;}
.b23{grid-column:6/7; grid-row:13/15;}
.b24{grid-column:6/7; grid-row:15/17;}
.b25{grid-column:6/7; grid-row:17/19;}
.b26{grid-column:6/7; grid-row:19/21;}
.b27{grid-column:6/7; grid-row:21/23;}
.b28{grid-column:6/7; grid-row:23/26;}
