/*body{
  background-image: url("./WhatsApp\ Image\ 2026-02-16\ at\ 3.21.03\ PM.jpeg") ; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 */
h1{
    background:linear-gradient("20deg, skyblue, green");
}

p{
    background: linear-gradient(to right, skyblue, green);
}

#box1{
    border: 2px solid black;
    width: 250px;
    height: 250px;
    background-color:green;
    margin: 50px;
    padding: 20px;
    margin :auto;

}

#box2{
    border: 2px solid black;
    width: 250px;
    height: 250px;
    background-color:blue;
    
}

div{
    height:50px;
    width: 50px;
    background-color: cadetblue;
    float: right;
    
}

p{
    clear:left;
}