body {
      background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

h2 {
    color: darkblue;
}

input {
    padding: 8px;
      border: 2px solid blue;
    border-radius: 5px;
}

button {
    padding: 8px;
     background-color: green;
    color: white;
    border: none;
    border-radius: 5px;

}

button:hover {
    background-color: darkgreen;
}

ul {
    list-style: none;
}


li {
      background-color: white;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}