
body{
  margin:0;
  background:#0b5d3a;
  padding:20px;         
}


.container{
  background:white;
  padding:10px;
  border:2px solid #ddd;

  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 35px;  
  gap:10px;

  max-width:1000px;      
  margin:auto;           
}

.box{
  background:#8cc63f;
  color:white;
  font-size:14px;
  font-weight:bold;

  display:flex;
  justify-content:center;
  align-items:center;
}




.b1{grid-column-start:1;
    grid-column-end: 12
}

.b2{grid-column-start: 1;
     grid-column-end: 6;
    }
.b3{grid-column:6/12; grid-row:2/3;}


.b4{grid-column:1/4; grid-row:3/4;}
.b5{grid-column:4/8; grid-row:3/4;}
.b6{grid-column:8/12; grid-row:3/4;}


.b7{grid-column:1/3; grid-row:4/5;}
.b8{grid-column:3/6; grid-row:4/5;}
.b9{grid-column:6/9; grid-row:4/5;}
.b10{grid-column:9/12; grid-row:4/5;}

.b11{grid-column:1/3; grid-row:5/6;}
.b12{grid-column:3/5; grid-row:5/6;}
.b13{grid-column:5/7; grid-row:5/6;}
.b14{grid-column:7/9; grid-row:5/6;}
.b15{grid-column:9/11; grid-row:5/6;}
.b16{grid-column:5/6; grid-row:5/6;}


.b17{grid-column:1/2; grid-row:6/7;}
.b18{grid-column:2/3; grid-row:6/7;}
.b19{grid-column:3/4; grid-row:6/7;}
.b20{grid-column:4/5; grid-row:6/7;}
.b21{grid-column:5/6; grid-row:6/7;}
.b22{grid-column:6/7; grid-row:6/7;}
.b23{grid-column:7/8; grid-row:6/7;}
.b24{grid-column:8/9; grid-row:6/7;}
.b25{grid-column:9/10; grid-row:6/7;}
.b26{grid-column:10/11; grid-row:6/7;}
.b27{grid-column:11/12; grid-row:6/7;}
.b28{grid-column:6/7; grid-row:6/7;}
