body{
text-align:center;
font-family:Arial;
background-color:lightblue;
}

.navbar a{

padding:10px;
margin:10px;
background-color:green;
color:white;
text-decoration:none;
}

.product{

display:inline-block;
margin:20px;
padding:10px;
background:white;
border-radius:10px;
}

img{
width:180px;
height:180px;
}