body{
  margin:0;
  background:#0b0b0b;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

/* white square frame */
.container{
  background:#f5f5f5;
  padding:10px;
  border:2px solid #ccc;

  display:grid;
  grid-template-columns: repeat(4, 80px);
  grid-auto-rows: 60px;
  gap:8px;
}

/* grey tiles */
.box{
  background:#d9dee3;
  border:2px solid #bfc6cc;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Arial;
  font-size:14px;
  color:#5a6b7a;
}


.b1  { grid-column:1/2; grid-row:1/3; }

.b2  { grid-column:2/4; grid-row:1/2; }
.b3  { grid-column:4/5; grid-row:1/2; }

.b4  { grid-column:2/3; grid-row:2/3; }
.b5  { grid-column:3/5; grid-row:2/3; }

.b6  { grid-column:1/2; grid-row:3/4; }
.b7  { grid-column:2/4; grid-row:3/4; }
.b10 { grid-column:4/5; grid-row:3/5; }

.b8  { grid-column:1/3; grid-row:4/5; }
.b9  { grid-column:3/4; grid-row:4/5; }

.b11 { grid-column:1/2; grid-row:5/7; }

.b12 { grid-column:2/4; grid-row:5/6; }
.b13 { grid-column:4/5; grid-row:5/6; }

.b14 { grid-column:2/3; grid-row:6/7; }
.b15 { grid-column:3/5; grid-row:6/7; }

.b16 { grid-column:1/2; grid-row:7/8; }
.b17 { grid-column:2/4; grid-row:7/8; }
.b20 { grid-column:4/5; grid-row:7/8; }

.b18 { grid-column:1/3; grid-row:8/9; }
.b19 { grid-column:3/5; grid-row:8/9; }
